@page
@model ReaderRegisterModel
@{
    ViewData["Title"] = "Zarejestruj się.";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.name" class="form-control inputField" aria-required="true" placeholder="nazwa@domena.com" />
                <label asp-for="Input.name">Imię</label>
                <span asp-validation-for="Input.name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.surname" class="form-control inputField" aria-required="true" placeholder="nazwa@domena.com" />
                <label asp-for="Input.surname">Nazwisko</label>
                <span asp-validation-for="Input.surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.birthDate" class="form-control inputField" aria-required="true" placeholder="nazwa@domena.com" />
                <label asp-for="Input.birthDate">Data urodzenia</label>
                <span asp-validation-for="Input.birthDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control inputField" autocomplete="username" aria-required="true" placeholder="nazwa@domena.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control inputField" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control inputField" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        <button id="registerSubmit" type="submit" class="button buttonGreen customButton">Zarejestruj się</button>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
