@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobowe, które nam podałeś. Ta strona pozwala na pobranie lub usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie tych danych spowoduje trwałe usunięcie twojego konta, i nie będzie możliwe ich przywrócenie.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Pobierz</button>
            <p style="display: inline-block">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
