@model Biblioteka.Models.Rental

@{
    Layout = "_Layout";
    ViewData["Title"] = "Koszyk";
}

<style>
    table {
        padding-top: 50px;
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
    }

    thead {
        color: gray;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px black solid;
    }

    tr, td, th {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    th {
        font-weight: normal;
    }

    caption {
        margin-top: 30px;
        margin-bottom: 50px;
        border-top: thin black solid;
        border-bottom: thin black solid;
        font-weight: bold;
        padding: 5px;
        font-size: 30px;
        color: dimgray;
        font-weight: normal;
    }

    tfoot {
        border-top: 1.5px black solid;
    }
</style>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <h4>Przykro nam ale koszyk nie jest dostępny. Proszę zalogować się na konto czytelnika.</h4>
        <div>
            <a asp-action="Index">Powrót</a>
        </div>
    }
    else
    {
        <div id="out">
        </div>
        <br>
        <br>
        <br>
        <button id="but2" style="margin-left: 20 px;" class="customButton" onclick="clearAll()">Opróżnij koszyk</button>
        <button id="but1" style="margin-left: 20 px;" class="customButton">Złóż zamówienie</button>
    }

    <dialog id="dialog2">
        <h4>Czy na pewno chcesz usunąć wszystkie produkty?</h4>
            <form id="form2" method="dialog">
                <input type="submit" value="Usuń">
                <input type="reset" value="Anuluj">
            </form>
    </dialog>

    <dialog id="dialog3">
        <h4>Twój koszyk jest pusty</h4>
            <form id="form3" method="dialog">
                <input type="submit" value="OK">          
            </form>
    </dialog>

    <dialog id="dialog4">
        <h2>Usuń produkt</h2>
            <hr>
            <p>Czy napewno chcesz usunąć ten produkt z koszyka?</p>
            <form id="form4">
                <input type="submit" value="Usuń">
                <input type="reset" value="Anuluj">
            </form>
    </dialog>

    <dialog id="dialog5">
        <p>Przykro nam, ale osiągnięto limit książek.</p>
        <form id="form5" method="dialog">
            <div>
                <input type="submit" value="OK">
            </div>
        </form>
    </dialog>

    <dialog id="dialog6">
        <p>Przykro nam, nie mamy takiej ilości danej książki na stanie</p>
        <form id="form6" method="dialog">
            <div>
                <input type="submit" value="OK">
            </div>
        </form>
    </dialog>
    <p id="low"></p>
</body>
</html>

<script>
    var bookList = @Html.Raw(Json.Serialize(ViewData["bookList"]));
    var limits = @Html.Raw(Json.Serialize(ViewData["limits"]));
</script>
<script src="~/lib/js-scripts/basket.js"></script>