@{
    Layout = "_Layout";
    ViewData["Title"] = "Kolejka zamówień";
}

<!DOCTYPE html>

<style>
    table {
        padding-top: 50px;
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
    }

    thead {
        color: gray;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px black solid;
    }

    tr, td, th {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    th {
        font-weight: normal;
    }

    caption {
        margin-top: 30px;
        margin-bottom: 50px;
        border-top: thin black solid;
        border-bottom: thin black solid;
        font-weight: bold;
        padding: 5px;
        font-size: 30px;
        color: dimgray;
        font-weight: normal;
    }

    tfoot {
        border-top: 1.5px black solid;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Zadanie 7</title>
</head>
<body>
    <br />
    <h2>UWAGA! Kolejkę trzeba odnawiać! Po trzech dniach bez odnowienia jesteś usuwany (-a) z kolejki.</h2> @* error kolor przynaujmniej na uwaga, jak będzie źle wyglądać*@
    <br />
    <br />
    <div id="out">
    </div>
    <br>
    <br>
    <br>
</body>
</html>

<dialog id="dialog1">
    <p>Proszę podać dane:</p>
    <form id="form1" method="dialog">
        <div>
            <input type="text" name="count" placeholder="Ilość">
            <input type="submit" value="OK">
        </div>
    </form>
    <p id="messagedialog"></p>
</dialog>

<dialog id="dialog2">
    <p>Czy na pewno chcesz zrezygnować?</p>
    <form id="form2" method="dialog">
        <div>
            <input type="submit" value="Tak">
            <input type="reset" value="Nie">
        </div>
    </form>
</dialog>

<dialog id="dialog4">
    <p>
        Produkt został dodany do koszyka.
    </p>
    <form id="form4" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>

<dialog id="dialog5">
    <p>
        Przykro nam ale masz za dużo książek w koszyku.
    </p>
    <form id="form5" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/bootstrap/dist/js/selectize.js"></script>

    <script type="text/javascript" src="~/lib/js-scripts/queue.js"></script>
}