@{
    Layout = "_Layout";
    ViewData["Title"] = "Kolejka zamówień";
}

<!DOCTYPE html>

<style>
    table {
        padding-top: 50px;
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
    }

    thead {
        color: gray;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px black solid;
    }

    tr, td, th {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    th {
        font-weight: normal;
    }

    caption {
        margin-top: 30px;
        margin-bottom: 50px;
        border-top: thin black solid;
        border-bottom: thin black solid;
        font-weight: bold;
        padding: 5px;
        font-size: 30px;
        color: dimgray;
        font-weight: normal;
    }

    tfoot {
        border-top: 1.5px black solid;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Zadanie 7</title>
</head>
<body>
    <div id="out">
    </div>
    <br>
    <br>
    <br>
    <button id="addToQueueButton" style="margin-left: 230px;">Dodaj</button>
    <button id="updateQueue" style="margin-left: 20px">Edytuj</button>
    <button id="deleteFromQueue" style="margin-left: 20px;">Usuń</button>

    <!--<dialog id="dialog1">
        <h2>Dodaj produkt</h2>
        <hr>
        <p>Podaj dane:</p>
        <form id="form1" method="dialog">
            <div>
                <input type="text" name="name" placeholder="Nazwa">
                <input type="text" name="count" placeholder="Ilość">
                <input type="text" name="price" placeholder="Cena">
                <input type="submit" value="Dodaj">
                <input type="reset" value="Anuluj">
            </div>
            <p id="messagedialog"></p>
        </form>
    </dialog>

    <dialog id="dialog2">
        <h4>
            Czy na pewno chcesz usunąć wszystkie produkty?</h2>
            <form id="form2" method="dialog">
                <input type="submit" value="Usuń">
                <input type="reset" value="Anuluj">
            </form>
    </dialog>

    <dialog id="dialog3">
        <h2>
            Edytuj produkt</h4>
            <hr>
            <p>Podaj dane:</p>
            <form id="form3">
                <input type="text" name="name" placeholder="Nazwa">
                <input type="text" name="count" placeholder="Ilość">
                <input type="text" name="price" placeholder="Cena">
                <input type="submit" value="Zapisz">
                <input type="reset" value="Anuluj">
            </form>
    </dialog>

    <dialog id="dialog4">
        <h2>
            Usuń produkt</h4>
            <hr>
            <p>Czy napewno chcesz usunąć ten produkt?</p>
            <form id="form4">
                <input type="submit" value="Usuń">
                <input type="reset" value="Anuluj">
            </form>
    </dialog>

    <p id="low"></p>-->
</body>
</html>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/bootstrap/dist/js/selectize.js"></script>

    <script type="text/javascript">

        const out = document.getElementById("out");

        // site.js
        $(document).ready(function () {
            $.ajax({
                url: '/api/Queue',
                type: 'GET',
                success: function (data) {
                    console.log('Dane pobrane:', data);
                    var queueContent = "<table><tr><th>Książka</th><th>Osoby w kolejce</th></tr>";

                    for (var bookId in data) {
                        var booksArray = data[bookId];
                        queueContent += `<tr><td rowspan="${booksArray.length}">${bookId}</td>`;
                        booksArray.forEach(book => {
                            queueContent += `<td>Użytkownik:${book.UserId}, ilość: ${book.Quantity}</td></tr>`;
                        });
                    }

                    queueContent += "</table>";
                    out.innerHTML = queueContent;
                },
                error: function (error) {
                    console.error('Błąd pobierania danych:', error);
                }
            });

            $('#addToQueueButton').on('click', function () {
                var queueData = {
                    BookId: 123,
                    UserId: 456,
                    Quantity: 1
                };
                $.ajax({
                    url: '/api/Queue',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(queueData),
                    success: function (response) {
                        console.log('Odpowiedź po dodaniu do kolejki:', response);
                    },
                    error: function (error) {
                        console.error('Błąd przy dodawaniu do kolejki:', error);
                    }
                });
            });

            $('#updateQueue').on('click', function () {
                var queueData = {
                    BookId: 123,
                    UserId: 456,
                    Quantity: 6
                };
                console.log('huh');
                $.ajax({
                    url: '/api/Queue/' + queueData.BookId,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify(queueData),
                    success: function (response) {
                        console.log('Odpowiedź po edytowaniu:', response);
                    },
                    error: function (error) {
                        console.error('Błąd przy edytowaniu:', error);
                    }
                });
            });

            $('#deleteFromQueue').on('click', function () {
                var queueData = {
                    BookId: 123,
                    UserId: 123,
                    Quantity: 6
                };

                console.log('usuwanie');

                $.ajax({
                    url: `/api/Queue/${queueData.BookId}`,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            console.log(data.message);
                        } else {
                            console.error(data.message);
                        }
                    },
                    error: function (error) {
                        console.error(`Error: ${error.statusText}`);
                    }
                });
            });
           
        });


</script>
}